body { 
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: HelveticaWorld;
    src: url(../fonts/HelveticaWorld-Regular.ttf);
}
/*Navbar*/
nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    padding: 0 50px;
    background-color: #006c80;
}
/*Icone Menu do Navbar*/
nav .menu-icon {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1001;
}
.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.menu-text {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    user-select: none;
    transition: color 0.2s;
}

.menu-icon .bar{
    width: 38px;
    height: 10px;
    background-color: #f0f0f0;
    margin: 3px 0;
    border-radius: 2px;
    transition: transform 0.3s;
}
.menu-icon.active .bar {
    box-shadow: -15px 0px 1px #006c80;
    transform: translateX(10px);
    transition: box-shadow 0.2s, transform 0.3s;
}

/*Icone Home do Navbar*/
nav .home-icon img {
    width: 40px;
    height: 40px;
    opacity: 0.6;
}
nav .home-icon img:hover {
    width: 43px;
    height: 45px;
    cursor: pointer;
    opacity: 0.7;
}

/*Menu do Navbar*/
nav .menu { 
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    width: 250px;
    background-color: #006c80;
    height: 100%;
    padding: 10px;
    font-size: 1.3em;
    z-index: 900;
    transition: opacity 0.3s;
}
nav .menu ul {
    list-style: none;
    padding: 0;
}
nav .menu ul li {
    margin: 10px 0;
}
nav .menu ul li a {    
    display: flex;
    justify-content: center;
    font-family: HelveticaWorld, sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    font-weight: 900;
    padding: 5px;
    color: black;
    background-color: white;
    border-radius: 35px;
}  
nav .menu ul li a:hover {
    color: white;
    background-color: black;
    transition: background-color 0.3s ease;
}
#logout-botao{
    color: white;
    background-color: #006c80;
    font-weight: bolder;
    font-size: 0.8em;
    padding: 10px;
}
#logout-botao:hover{
    color: white;
    background-color: #00a3c0;
    transition: background-color 0.3s ease;
}
nav .menu li img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.botao{
    width: 150px;
    background-color: #0097b2;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 0px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px;
    border: none;

} .botao:hover{
    cursor: pointer;
    background-color: #00bdde;
    font-size: 1.1em;
    box-shadow: 0 5px 10px #004753;
} 

#darkmode-botao{
    width: 55px;
    height: 55px;
    background-color:  #00bdde;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 100px;
    display: inline-block;
    margin: 10px 0px;
    border: none;
    z-index: 1000;
    position: fixed;
    right: 30px;
    bottom: 10px;
}
.darkmode img {
    margin: 2px;
    width: 30px;
    height: 30px;
    filter: invert(18%) sepia(32%) saturate(1172%) hue-rotate(308deg) brightness(92%) contrast(92%);
}

/*Main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 80px);
    padding-top: 100px;
}

/*Footer*/
footer{
    width: 100%;
    min-height: 100px;
    background-color:  #006c80;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    margin-top: auto;
}