<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nextstep - Login</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <!--NAVBAR-->
    <nav>
        <div class="div-menu">
            <a href="../index.html"><span class="menu-text">Nextstep</span></a>
        </div>
            <div class="button-container" id="button-index">
                <!-- Botões de login/cadastro (visíveis apenas quando não logado) -->
                <a class="botao" id="cadastrar-link" href="cadastrar.html">Cadastrar-se</a>
                <a class="botao" id="login-link" href="login.html">Login</a>
            </div>
    </nav>

    <!--MAIN-->
    <main>
        <img src="../images/Logo.png" alt="Login Image" class="login-image">
        <div class="container">
            <div class="main-container">
                <h1 class="title" id="Login">Login</h1>
                <form id="loginForm">
                <div class="input-container">
                    <input type="text" name="usuario" id="username" placeholder="Usuario" required>
                </div>
                <div class="input-container">
                    <input type="password" name="senha" id="password" placeholder="Senha" required>
                </div>
                <div class="button-container">
                    <button class="botao" id="loginButton" type="submit">
                        <span id="loginText">Entrar</span>
                        <span id="loadingText" style="display: none;">Entrando...</span>
                    </button>
                </div>
                <div class="button-container">
                    <button class="botao" id="loginButton" type="submit">
                        <span id="loginText">Cadastrar-se</span>
                    </button>
                </div>
            </form>
            </div>
        </div>
    </main>

    <!-- Botao Dark Mode -->
    <a class="botao" id="darkmode-botao" href="">
        <div class="darkmode">
            <img src="../images/dark.png">
        </div>
    </a>
    <!--FOOTER-->
    <footer>
    </footer>
    
    <!--SCRIPT JS-->
    <script src="../js/darkmode.js"></script>
</body>
</html>


